---
import "@styles/global.css";
import DocumentHead from "@components/DocumentHead.astro";
import Layout from "@layouts/EFRLayout.astro";
import Divider from "@components/Divider.astro";
import PopoutBox from "@components/PopoutBox.astro"
import CtaButtonGroup from "@components/CtaButtonGroup.astro";
import { Image } from "astro:assets";
import universitySeal from "../images/university-seal.svg";
import meetElizabethProfilePic from "../images/meet-elizabeth-oconnor-picture.jpg";


const title = "Elizabeth O'Connor for Nebraska Board of Regents - District 4";
const description = "Re-Elect Elizabeth O'Connor to ensure that the University of Nebraska is funded fairly, spends prudently, and invests wisely for the future.";
const permalink = "https://elizabethforregent.com";
const page = "home";
---

<html lang="en">
  <DocumentHead
      title={title}
      description={description}
      permalink={permalink}
  />
  <body>
    <Layout page={page}>
      <Image class="circle-pic" src={meetElizabethProfilePic} alt="Profile picture of Elizabeth O'Connor smiling, looking at the camera"/>
      <div class="breakout flow">
        <div class="intro-container flow">
          <h2>Nebraska Native & UNO Alum</h2>
          <h1> Meet Elizabeth</h1>
          <p>Elizabeth O’Connor is a proud Nebraska native, happily married with a young child, two playful greyhounds, and an imperious Maine Coon cat. Her Nebraska roots run deep, from attending Duchesne Academy to living in Metcalf Park, where she enjoys the vibrant community. With a passion for higher education and a commitment to making a difference, Elizabeth brings a personal touch and dedication to her role on the Board of Regents. Elizabeth O’Connor’s experiences as a student leader and law school graduate have shaped her vision for a better future for all Nebraskans.</p>
          <CtaButtonGroup></CtaButtonGroup>
        </div>
        <div class="resume-container">
          <div>
            <h3>Academic</h3>
            <span>University of Nebraska at Omaha, Bachelor of Arts, summa cum laude (2012)</span>
            <ul>
              <li>Student Body President/Student Regent for UNO </li>
              <li>Speaker of the Senate </li>
              <li>Chi Omega Community Service Chair </li>
              <li>Omicron Delta Kappa honors society </li>
              <li>Vice Chancellor's Student Leadership Award </li>
              <li>Outstanding Student in Arts and Sciences </li>
              <li>Outstanding Student in Political Science</li>
            </ul>
            <span>University of Notre Dame Law School, Juris Doctor (2015)</span>
            <ul>
            <li>Editor-in-Chief of the Notre Dame Journal of Legislation</li>
            <li>Dean's Award in her Intensive Trial Advocacy Class</li>
            <li>Student attorney in a low-income law clinic.</li>
            </ul>
          </div>
          <div>
          <h3>Professional</h3>
          <p>Elizabeth O’Connor is currently serving as a Deputy County Attorney in the Civil Division of the Douglas County, Nebraska Attorneys Office. Prior to that, she was a litigator in private practice.</p>
          <p> Received UNO Young Alumni Award (2022)</p>
          </div>
        </div>
        <PopoutBox>
          <div class="popout-contents">
            <Image class="university-seal" src={universitySeal} alt="University of Nebraska Seal"/>
            <div>
              <h3>Board Service</h3>
              <ul class="popout-list">
                <li>Elected to the Board of Regents 2018</li>
                <li>Represents District 4</li>
                <li>Audit Risk and Compliance Committee.</li>
                <ul>
                <li>Member (2018 – 2020)</li>
                <li>Chair (2020 – 2022)</li>
                </ul>
                <li class="break">Academic Affairs Committee.</li>
                <ul>
                <li>Member (2022 – present)</li>
                </ul>
                <li>Executive Committee. </li>
                <ul>
                <li>Member (2022 – present)</li>
                </ul>
              </ul>
            </div>
          </div>
        </PopoutBox>
      </div>
    </Layout>
  </body>
</html>

<style>

.circle-pic {
  position: absolute;
  top: 172px;
  right: 0;
  height: 589px;
  width: 448px;
  height:
  @media screen and (max-width: 800px) {
    width: 75%;
  }
}

.breakout {
  margin-top: 3rem;
  >* {
    z-index: 1;
  }
}
.intro-container {
  background: white;
  border-bottom: 4px solid var(--color_blue);
  padding-bottom: 2rem;
  width: 65%;

  @media screen and (max-width: 700px) {
    grid-column: full;
    margin-top: 13rem;
    width: 100%;
  }
}

.resume-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.popout-contents {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  @media screen and (max-width: 650px) {
    align-items: center;
    flex-direction: column;
  }
}

.popout-list {
  padding-left: 1.25rem; /* Remove left padding on list items */
  column-count: 1; /* Start with single column */
}

@media screen and (min-width: 1024px) {
  .popout-list {
    column-count: 2; /* Change to two columns on desktop */
    column-gap: 3rem;
  }

  .break {
    break-inside: avoid-column; /* Prevent reflow in a new column */
  }
}

</style>
